sudo: false

language: php
php:
  - 7.1
  - 7.2

install:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --no-interaction

services:
  - mysql

env:
  - DB=mysql

mysql:
  database: picvid_test
  username: root
  encoding: utf8

before_script:
  - composer install
  - mysql -e 'create database picvid_test;'
  - mysql picvid_test < resource/install.sql

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v -c coveralls.yml

notifications:
  email:
    - coding@sebastianbrosch.de