<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="PicVid">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Domain</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="docs/phpunit-coverage"/>
        <log type="coverage-xml" target="docs/logs/phpunit-coverage"/>
        <log type="coverage-clover" target="docs/logs/coverage-clover.xml"/>
        <log type="junit" target="docs/logs/phpunit-junit.xml"/>
    </logging>
    <php>
        <env name="DB_DSN" value="mysql:host=127.0.0.1;dbname=picvid_test;" />
        <env name="DB_USER" value="root" />
        <env name="DB_PASSWD" value="" />
        <env name="DB_DBNAME" value="picvid_test" />
    </php>
</phpunit>