body#index-view {
    background: #000 url('img/index-view-bg.jpg') no-repeat center;
    background-size: cover;
    height:100vh;
}
body#register-view {
    background: #000 url('img/register-view-bg.jpg') no-repeat center;
    background-size: cover;
    height:100vh;
}
body#index-view > div.container-fluid,
body#register-view > div.container-fluid {
    height:100vh;
}
body#register-view > div.container-fluid {
    min-height:650px;
}
body#index-view img.logo {
    margin-bottom: 20px;
}
body#register-view form {
    margin-top:-60px;
}
body#register-view p,
body#register-view h2 {
    color:white;
}

/** overwrite some bootstrap rules. */
a, a:link, a:hover, input {
    border-radius: 0 !important;
}