/** ---------------------------------------------------------------------------------------------------- */
/** ----------------------------------- all styles for the overlays ------------------------------------ */
/** ---------------------------------------------------------------------------------------------------- */
body div.bg-overlay {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size: cover;
    z-index:-1;
}
body div.bg-overlay + a.credits {
    background-color:black;
    bottom:20px;
    left:20px;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position:absolute;
    z-index: 100;
}
body div.bg-overlay + a.credits span {
    display:inline-block;
    padding:2px 3px;
}
body div.bg-overlay + a.credits span svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-1px;
    fill:white;
}

/** format of the Dropzone element. */
.dz-clickable {
    border: 2px dashed rgb(40, 167, 69);
    cursor: pointer;
    display:block;
    height:200px;
    width:100%;
    color:#ddd;
    text-align:center;
}

/** background images for the public parts of the application. */
body#index-view div.bg-overlay {
    background:#000 url('../img/backgrounds/bg-index-index-view.jpg') no-repeat center;
}
body#register-view div.bg-overlay {
    background:#000 url('../img/backgrounds/bg-register-index-view.jpg') no-repeat center;
}
body#login-view div.bg-overlay {
    background: #000 url('../img/backgrounds/bg-login-index-view.jpg') no-repeat center;
}
body#info-view div.bg-overlay {
    background: #000 url('../img/backgrounds/bg-info-index-view.jpg') no-repeat center;
}
body#install-requirements div.bg-overlay {
    background: #000 url('../img/backgrounds/bg-install-requirements-view.jpg') no-repeat center;
}
body#install-settings div.bg-overlay {
    background: #000 url('../img/backgrounds/bg-install-settings-view.jpg') no-repeat center;
}

body#index-view > div.container-fluid,
body#register-view > div.container-fluid,
body#login-view > div.container-fluid,
body#auth-view > div.container-fluid,
body#info-view > div.container-fluid {
    height:100vh;
}
body#index-view img.logo {
    margin-bottom: 20px;
}
body#register-view p,
body#register-view h2,
body#login-view p,
body#login-view h2,
body#auth-view p,
body#auth-view h2,
body#info-view p,
body#info-view h2,
body#install-requirements p,
body#install-requirements h2,
body#install-requirements table,
body#install-settings p,
body#install-settings h2,
body#install-settings table {
    color:white;
}
nav div.dropdown-menu-right {
    margin-top: 10px;
}
nav div.dropdown-menu {
    border-radius: 0;
}
#images-index div.img-thumbnail {
    position: relative;
}
#images-index div.img-thumbnail img {
    max-height:240px;
}
#images-index div.img-thumbnail a.download {
    position:absolute;
    bottom:0;
    left:0;
}
#images-index div.img-thumbnail a.info {
    position:absolute;
    bottom: 0;
    right:0;
}
#images-index div.img-thumbnail img {
    background: #000 url("../img/bg-transparent.png") repeat right top;
}
#images-info div.card div.img-container {
    background: #000 url("../img/bg-transparent.png") repeat right top;
    max-height: 400px;
    text-align: center;
}
#images-info div.card div.img-container img {
    max-height: 400px;
    max-width: 100%;
}
#images-info .nav-pills i {
    margin-right:10px;
}
#images-info .tab-pane {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#images-info table#image-exif-info {
    table-layout:fixed;
    width: 100%;
}
#images-info table#image-exif-info td:first-of-type {
    width: 250px;
}
#images-info table#image-exif-info td:last-of-type {
    overflow-wrap: break-word;
}
#index-view a, #index-view a:link {
    margin:15px 5px;
}
#index-view a i.fa, #index-view a:link i.fa {
    margin-right: 3px;
}
#auth-view .nav-pills .nav-item {
    margin:1rem 0;
}
#auth-view .nav-pills .nav-item a, #auth-view .nav-pills .nav-item a:link {
    color:#fff;
}
#auth-view .nav-pills .nav-item:first-child {
    margin-right:5px;
}
#install-settings div.card,
#install-requirements div.card {
    border:0;
}
#install-requirements a.btn i,
#install-settings button.btn i,
#install-settings a.btn i {
    margin-right:12px;
}
#install-requirements thead th {
    border-top:0;
}
#install-settings div.card .card-header i,
#install-requirements div.card .card-header i {
    margin-right:15px;
}

/** ---------------------------------------------------------------------------------------------------- */
/** ---------------------------------- all styles for the navigation ----------------------------------- */
/** ---------------------------------------------------------------------------------------------------- */
body nav i.fa {
    margin-right:7px;
}
body#profile-index .card,
body#profile-index .card .input-group-addon,
body#profile-index .card .btn {
    border-radius: 0;
}
body#profile-index .card .btn .fa {
    margin-right: 7px;
}
body#profile-index .card input,
body#profile-index .card .input-group-addon {
    border:0;
    background:white;
}
body#profile-index .card .input-group .fa {
    margin-top:2px;
    width:50px;
}
body#upload-index form button,
body#upload-index form textarea {
    border-radius: 0;
}
form button i, button i {
    margin-right:10px;
}

/** overwrite some bootstrap rules. */
a, a:link, a:hover, input, button, .card, .card-header {
    border-radius: 0 !important;
}
form div.alert {
    border-radius: 0;
    display:none;
}

/** overwrite some browser specific rules. */
input[type="text"],
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/** new class to extend bootstrap beta 4. (buttons with breakpoint). */
@media screen and (max-width: 767px) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }

    .btn-sm-block + .btn-sm-block {
        margin-top: .5rem;
    }
}
