/** ---------------------------------------------------------------------------------------------------- */
/** ----------------------------------- all styles for the overlays ------------------------------------ */
/** ---------------------------------------------------------------------------------------------------- */
body div.bg-overlay {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size: cover;
}
body div.bg-overlay + a.credits {
    background-color:black;
    bottom:20px;
    left:20px;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position:absolute;
    z-index: 100;
}
body div.bg-overlay + a.credits span {
    display:inline-block;
    padding:2px 3px;
}
body div.bg-overlay + a.credits span svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-1px;
    fill:white;
}
body#index-view div.bg-overlay {
    background: #000 url('../img/bg-index-view.jpg') no-repeat center;
}
body#register-view div.bg-overlay {
    background: #000 url('../img/bg-register-view.jpg') no-repeat center;
}
body#login-view div.bg-overlay {
    background: #000 url('../img/bg-login-view.jpg') no-repeat center;
}
body#info-view div.bg-overlay {
    background: #000 url('../img/bg-info-view.jpg') no-repeat center;
}
div.bg-overlay {
    z-index:-1;
}
body#index-view > div.container-fluid,
body#register-view > div.container-fluid,
body#login-view > div.container-fluid,
body#info-view > div.container-fluid {
    height:100vh;
}
body#index-view img.logo {
    margin-bottom: 20px;
}
body#register-view form {
    margin-top:-60px;
}
body#register-view p,
body#register-view h2,
body#login-view p,
body#login-view h2,
body#info-view p,
body#info-view h2 {
    color:white;
}
nav div.dropdown-menu-right {
    margin-top: 10px;
}
nav div.dropdown-menu {
    border-radius: 0;
}
#images-index div.img-thumbnail {
    position: relative;
}
#images-index div.img-thumbnail img {
    max-height:240px;
}
#images-index div.img-thumbnail a.download {
    position:absolute;
    bottom:0;
    left:0;
}
#images-index div.img-thumbnail a.info {
    position:absolute;
    bottom: 0;
    right:0;
}
#images-info div.card img,
#images-index div.img-thumbnail img {
    background: #000 url("../img/bg-transparent.png") repeat right top;
}

/** ---------------------------------------------------------------------------------------------------- */
/** ---------------------------------- all styles for the navigation ----------------------------------- */
/** ---------------------------------------------------------------------------------------------------- */
body nav i.fa {
    margin-right:7px;
}

body#profile-index .card,
body#profile-index .card .input-group-addon,
body#profile-index .card .btn {
    border-radius: 0;
}
body#profile-index .card .btn .fa {
    margin-right: 7px;
}
body#profile-index .card input,
body#profile-index .card .input-group-addon {
    border:0;
    background:white;
}
body#profile-index .card .input-group .fa {
    margin-top:2px;
    width:50px;
}
body#upload-index form input[type="file"] {
    display:none;
}
body#upload-index form.picvid-file-upload label[for="files"] {
    border: 2px dashed rgb(40, 167, 69);
    cursor: pointer;
    display:block;
    height:200px;
    width:100%;
    color:#ddd;
    text-align:center;
}
body#upload-index form.picvid-file-upload label[for="files"] span {
    background-color: rgb(40, 167, 69);
    color:white;
    font-family: sans-serif;
    font-size:1.1em;
    display: inline-block;
    position: relative;
    top: 50%;
    height: 50px;
    width: 70%;
    line-height:50px;
    transform: translateY(-50%);
}
body#upload-index form button,
body#upload-index form textarea {
    border-radius: 0;
}
body#upload-index form button i {
    margin-right:10px;
}

/** overwrite some bootstrap rules. */
a, a:link, a:hover, input {
    border-radius: 0 !important;
}
form div.alert {
    border-radius: 0;
    display:none;
}

/** overwrite some browser specific rules. */
input[type="text"],
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}