/** ---------------------------------------------------------------------------------------------------- */
/** ----------------------------------- all styles for the overlays ------------------------------------ */
/** ---------------------------------------------------------------------------------------------------- */
body div.bg-overlay {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size: cover;
}
body div.bg-overlay + a.credits {
    background-color:black;
    bottom:20px;
    left:20px;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position:absolute;
    z-index: 100;
}
body div.bg-overlay + a.credits span {
    display:inline-block;
    padding:2px 3px;
}
body div.bg-overlay + a.credits span svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-1px;
    fill:white;
}
body#index-view div.bg-overlay {
    background: #000 url('../img/bg-index-view.jpg') no-repeat center;
}
body#register-view div.bg-overlay {
    background: #000 url('../img/bg-register-view.jpg') no-repeat center;
}
body#login-view div.bg-overlay {
    background: #000 url('../img/bg-login-view.jpg') no-repeat center;
}
body#info-view div.bg-overlay {
    background: #000 url('../img/bg-info-view.jpg') no-repeat center;
}
body#index-view > div.container-fluid,
body#register-view > div.container-fluid,
body#login-view > div.container-fluid,
body#info-view > div.container-fluid {
    height:100vh;
}
body#index-view img.logo {
    margin-bottom: 20px;
}
body#register-view form {
    margin-top:-60px;
}
body#register-view p,
body#register-view h2,
body#login-view p,
body#login-view h2,
body#info-view p,
body#info-view h2 {
    color:white;
}
body#profile-index nav .fa {
    margin-right:5px;
}
body#profile-index .card,
body#profile-index .card .input-group-addon,
body#profile-index .card .btn {
    border-radius: 0;
}
body#profile-index .card .btn .fa {
    margin-right: 5px;
}
body#profile-index .card input,
body#profile-index .card .input-group-addon {
    border:0;
    background:white;
}
body#profile-index .card .input-group .fa {
    margin-top:2px;
    width:50px;
}

/** overwrite some bootstrap rules. */
a, a:link, a:hover, input {
    border-radius: 0 !important;
}
form div.alert {
    border-radius: 0;
    display:none;
}